{% extends "parts/base.html" %}

{% block title %} 請修改title {% endblock title %}

{% block navbar_list %}
{% include "parts/_navbar_tab2.html" %}
{% endblock navbar_list %}


{% block page_content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div>
    <table id="dataTable" class="table" style="width:100%;"></table>
</div>
<br>

<script>
    $(function () {
        $("button").on("click", loadServerData);
    });
    window.onload=function loadServerData() {
        //data -> items(array)
        //title, link, pubDate(空格切割,取前面)
        $.getJSON('/newslist', function (data) {
            // debugger;
            for (let x = 0; x < data.items.length; x++) {
                $("#dataTable").append(
                    `<tr>
                        <td><a href='${data.items[x].url}'>${data.items[x].title}</a></td>
                        <td>${data.items[x].date_published.split("T")[0]}</td>
                    </tr>`
                );
            }
        })
    };
</script>




{% endblock page_content %}