<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
<script src="{{ url_for('static', filename='dbtheme/plugins/nprogress/nprogress.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/plugins/simplebar/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/plugins/apexcharts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/plugins/jvectormap/jquery-jvectormap-world-mill.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/plugins/jvectormap/jquery-jvectormap-us-aea.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/plugins/daterangepicker/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/plugins/daterangepicker/daterangepicker.js') }}"></script>


<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="{{ url_for('static', filename='dbtheme/plugins/toaster/toastr.min.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/plugins/circle-progress/circle-progress.js') }}"></script>

<script src="{{ url_for('static', filename='dbtheme/js/mono.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/js/chart.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/js/map.js') }}"></script>
<script src="{{ url_for('static', filename='dbtheme/js/custom.js') }}"></script>
